body {
    font-family: Graphik Web;
    margin: 0;
    padding-top: 50px;
}
#homeLink {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the text color from the parent element */
}
/********************* Menu Code*******************************/
.menuContainer {
    display: flex;
    justify-content: space-between; /* Align items to the start and end of the container */
    align-items: center;
    background-color: #D3D3D3;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.itemMenu {
    display: flex;
    align-items: center;
}

.itemHeading {
    flex-grow: 1; /* Allow the heading to take up available space */
    text-align: center; /* Center-align the text */
    padding: 0 20px; /* Adjust padding as needed */
}

/* Add media query for responsiveness */
@media screen and (max-width: 768px) {
    .itemHeading {
        padding: 0 10px; /* Adjust padding for smaller screens */
    }
}

/* Add some basic styles to the hamburger icon */
.hamburger {
    cursor: pointer;
    display: inline-block;
    padding: 0 15px;
    transition: transform 0.3s; /* Add a transition for smooth icon change */
}
.bar {
    width: 35px;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.hamburger.active {
    background-color: transparent;
}

/* Rotate bars to create an 'X' icon when menu is open */
.hamburger.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}
/***********Hamburger styles End*/

/* Style for the menu that appears when the hamburger icon is clicked */
.menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

/* Style for the submenu (tables) */
.submenu .sub-submenu {
    display: none;
    position: absolute;
    background-color: #D3D3D3;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    padding: 10px;
    left: 100%;
    top: 90px;
}
/* Adjust the margin-top as needed */
.submenu.active + .menu {
    padding-top: 20px; /* Adjust as needed */
}

/*Indent Tables Subcategories*/
.sub-submenu {
    padding-left: 0; /* Adjust as needed */
}
.submenu:hover .sub-submenu {
    display: block;
}


/* Show the main menu when the anchor is clicked */
.hamburger.active + .menu {
    display: block;
    transform: translateY(0); /* Add a transition for smooth dropdown */
}

/* Show the submenu when the Table link is clicked */
.menu .submenu.active .sub-submenu {
    display: block;
}
/* Show the menu when the anchor is clicked */
.hamburger.active + .menu {
    display: block;
    transform: translateY(0); /* Add a transition for smooth dropdown */
}
/****************************** Menu End*******************/


/* Apply a background color and set font styles */
body {
    background-color: #fff;
    font-family: Graphik Web;
    margin: 0;
    padding-top: 80px;
    line-height: 1.6;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
/* Style the FAQ section */
.faq {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Style FAQ items */
.faq-item {
    margin-bottom: 20px;
}

/* Style FAQ item headings */
.faq-item h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Style FAQ item content */
.faq-item p {
    margin: 0;
}
/* Footer Styles */
footer {
    background-color: #D3D3D3;
    color: #0c0c0c;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    margin-right: 20px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #333;
}

.email-section {
    padding-top: 10px;
    padding-bottom: 10px;
}
/* Styles for the email placeholder */
.email-section .email-placeholder {
    background-color: #D3D3D3;
    display: flex;
    align-items: center;
}

.email-placeholder input[type="email"] {
    width: 50%;
    margin-left: 20px;
    padding: 15px;
    border: 1px so #050505;
    color: #0b0b0b;
}

.email-placeholder button[type="submit"] {
    background-color: #707070;
    border: none;
    padding: 16px 35px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-left: 10px;
}

.email-placeholder button[type="submit"]:hover {
    background-color: #b2b1b1;
    color: black;
}

.social-icons {
    background-color: #D3D3D3;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.social-icon {
    text-decoration: none;
    color: #333;
    margin: 10px;
    position: relative;
    transition: opacity 0.3s;
}

/* Style for the message */
.hover-message {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 3s;
    pointer-events: none;
}

.social-icon:hover .hover-message {
    opacity: 1;
}

.social-icon:hover i {
    opacity: 0;
    transition: opacity 2s;
}
@media (max-width: 768px) {
    .social-icon .hover-message {
        display: none;
    }
}